.postContainer, .postButton{

    /* display:inline-block;
    vertical-align: top;  */
}
.postBlock{
    display: flex;
    flex-direction: column;
}
.postForm{
    display: flex;
    width: 100%;
}
.postButton button{
    margin: 10px;
    border-radius: 10px;    
    background-color: aliceblue;
    border: 1px solid rgb(135, 150, 155);
    width: 50px;
    height: 30px;
}
.postContainer{
    
}
.postContainer textarea{
    border-radius: 10px;
    /* box-shadow: 1px 1px 10px 1px rgb(135, 150, 155); */
    width: 40vh;
    border: 1px solid rgb(135, 150, 155);
    padding: 15px 0 0 5px;
    min-height: 30px;
    max-height: 130px;
    min-width: 40vh;
    max-width: 50vh;
    
}
@media only screen and (max-width: 768px) {
    .postContainer textarea{
        margin: 0;
        width: 100%;
        resize: none;
        min-height: auto;
        max-height: none;
        min-width:  auto;
        max-width:  none;
    }
}