.header{
 grid-area: h;
 animation: headerGradient 20s ease infinite;
 background: linear-gradient(45deg, rgba(62,66,255,1),rgba(46,255,221,1),rgba(137,26,210,1) );
 /* background: linear-gradient(45deg, rgba(137,26,210,1), rgba(62,66,255,1), rgba(46,255,221,1)); */
  background-size: 300% 300%;
}
@keyframes headerGradient {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 0%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.header img{
  height: 100%;
}
.loginBlock{
  float: right;
  margin: 22px 15px 22px 0;
}
.login{
  color: white;
}
.logout{
  border:none;
  background-color: transparent;
  color: white;
}