
.menu{
  animation: gradient 20s ease infinite;
  grid-area: n;
  background: linear-gradient(45deg, rgba(137,26,210,1), rgba(62,66,255,1), rgba(46,255,221,1));
  background-size: 200% 200%;
  text-align: center;
}
@keyframes gradient {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 0%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.item{
  
  margin: 15px;
}
.item a{
  text-decoration: none;
  color: #000;
  font: 18px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item a.active{
  color: aliceblue;
}

/* .left-menu div{
  
} */
