
.profileBackground{
  height: 200px;
  width: 970px;
  object-fit: cover;
  z-index: 0;
}
.avatar{
  width: 140px;
  top: 30%;
  left: 26%;
  border-radius: 20%;
  margin: -50px 0 5px 15px;
  z-index: 2;
}
.profileHead{
  display: block;  
}
.mainInfo, .jobInfo{
  margin: 0 0 15px 10px;
}
.mainInfo{
  top: 50%;
}
.jobInfo{
  left: 60%;
  top: 56%;
}
hr{
  margin-bottom: 20px;
}