.formSummaryError{
  color: red;
}
.profileBackground{
  height: 200px;
  width: 100%;
  object-fit: cover;
  /* margin-bottom: -25px; */
}
.avatar{
  /* position: relative; */
  width: 140px;
  top: 25%;
  border-radius: 20%;
  border: 5px solid white;
  margin: -50px 0 5px 15px;
}
.profileDetails{
  float: right;
  display: flex;
  margin: -9% 5% 0 0;
  
  flex-direction: column;
}
.profileDetails button{
  margin: 5px 1px 5px 0;
  /* border-radius: 30%; */
  border: none;
  /* border: 1px solid rgb(137, 137, 137); */
  background-color: rgb(226, 226, 226);
  padding: 5px 15px 4px 15px;
}
.profileHead{
  display: flex;
  flex-direction: column;
  height: 35%;
}
/* .mainInfo, .jobInfo{
  
} */
.mainInfo{
  position: relative;
  left: 20%;
  margin: -9% 0 5% 0;
  width: 40%;
}
.mainInfo h2{
  margin: 0;
}
/* .jobInfo{
  left: 60%; */
  /* top: 56%;
} */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .profileBackground{
    height: 15vh;
    width: 100%;
  }
  .profileHead{
    align-items: center;
    height: 35%;
  }
  .avatar{
    width: 45%;
    height: auto;
    margin: -25% 0 0 27%;
  }
  .mainInfo{
    text-align: center;
    left:0;
    margin: 0 0 10% 0 ;
  }
  .profileDetails{
   float: none;
   margin-top: 0;
  }
}
@media only screen and (max-width: 1165px) and (min-width: 769px) {
  .mainInfo{
    left: 200px;
    margin: -100px 0 5% 0;
  }
  .profileDetails{
    float: left;
    display: flex;
    margin: -2% 5% 0 200px;
  }  
}